<template name="miPanel">
    <div class="miPanel">

        <table class="ui-w100">
            {{#if hasName }}
                <tr>
                    <td class="mi-name" colspan="2">[ {{ name }} ]</td>
                </tr>
            {{/if}}
            {{#if hasCreatedAt }}
                <tr>
                    <td class="mi-right mi-col1 mi-right">{{ i18n key="panel.createdAt" }}</td>
                    <td>{{ createdAt }}</td>
                </tr>
            {{/if}}
            {{#if hasCreatedBy }}
                <tr>
                    <td class="mi-right mi-col1 mi-right">{{ i18n key="panel.createdBy" }}</td>
                    <td>{{ createdBy }}</td>
                </tr>
            {{/if}}
            {{#if hasUpdatedAt }}
                <tr>
                    <td class="mi-right mi-col1 mi-right">{{ i18n key="panel.updatedAt" }}</td>
                    <td>{{ updatedAt }}</td>
                </tr>
            {{/if}}
            {{#if hasUpdatedBy }}
                <tr>
                    <td class="mi-right mi-col1 mi-right">{{ i18n key="panel.updatedBy" }}</td>
                    <td>{{ updatedBy }}</td>
                </tr>
            {{/if}}
            {{#if hasId }}
                <tr>
                    <td class="mi-right mi-col1 mi-right">{{ i18n key="panel.identifier" }}</td>
                    <td>{{ id }}</td>
                </tr>
            {{/if}}
        </table>

    </div>
</template>
